<% if @product.errors.any? %>

    <% for error in @product.errors.full_messages %>
        <p><%= error %></p>

    <% end %>
<% end %>

<%= form_with model: @product, local: true do |form| %>

    <div>
        <%= form.label :"Product listing title"%>
        <%= form.text_field :title%>
    </div>

    <div>
        <%#= form.label :"Product brand"%>
        <%#= form.text_field :brand_id %>

        <%= form.label :"Product brand" %>
        <%= form.select(:brand_id, [
            ["Hili", "1"], 
            ["Mikita", "2"], 
            ["Bosch", "3"], 
            ["Dewalt", "4"], 
            ["AEG", "5"], 
            ["Milwaukii", "6"], 
            ["Panasonic", "7"], 
            ["Lucius Fox", "8"]
            ]) %>

    </div>

    <div>
        <%= form.label :"Product description"%>
        <%= form.text_area :description%>
    </div>

    <div>
        <%= form.label :price, "Price (in cents)"%>
        <%= form.number_field :price, min: 0%>
    </div>

    <div>
        <%= form.label :condition%>
        <%= form.select(:condition, [["New", "brand_new"], ["Used", "used"]]) %>
        
    </div>

    <div>
        <%= form.label :picture %> <%= form.file_field :picture, accept:
        'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>

    <div>
        <%= form.submit "Upload Product"%>
    
    </div>

 

<% end %>