<h1><%= @product.title %></h1>

  <% if flash[:message] %>
    <h2><div class="message"><%= flash[:message] %></div></h2>
  <% end %>



<div>

<% if @product.picture.attached? %>
    
    <%= image_tag @product.picture %> <%# add styling to limit image size later%>
    
<%else %> 
    <%= image_tag "drill.jpg", alt:"power drill"%> 
    
<%end %>

</div>

<div>

<tr>
    <td><h2><%#= @product.title %></h2></td> 
    <td><%= link_to "edit", edit_product_path(@product) if current_user.id == @product.user_id %></td>
    <td><%= if current_user.id == @product.user_id 
        link_to "delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?" }
    end %></td>
</tr>

<h4>Brand: <%= @product.brand[:name] %></h4>
<h4>Condition: <%= @product_condition%></h4>

<h4>Description: </h4>
<p><%=  @product.description %> </p>

</div>


<div>

<button data-stripe="buy">Buy <%= number_to_currency(@product.price / 100.0)%></button>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script>
    
  document
    .querySelector("[data-stripe='buy']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>
